@import '../globals.scss';

section {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: auto;
    padding: calc($large * .5) $large;
    gap: $small;

    @media screen and (min-width: 768px) and (max-width: 1023px) {
        grid-template-columns: repeat(16, 1fr);
        padding: calc($medium * .5) $medium;
    }

    @media screen and (max-width: 767px) {
        grid-template-columns: repeat(8, 1fr);
        padding: $small;
    }
}