@import '../../../globals.scss';

#about_page {
    .div {
        h3 {
            margin: 0;
        }

        h4 {
            margin: $small 0;
        }
    }

    .div_3,
    .div_4 {
        margin-bottom: calc($large * 2);
    }

    .div_1 {
        grid-area: 3 / 4 / 4 / 22;
        display: flex;
        flex-direction: column;
        gap: $small;
    }

    .div_2 {
        grid-area: 4 / 4 / 5 / 22;
    }

    .div_3 {
        grid-area: 5 / 4 / 6 / 22;
    }

    .div_4 {
        grid-area: 6 / 4 / 7 / 22;
    }

    .div_5 {
        grid-area: 7 / 4 / 8 / 22;
        text-align: center;

        .cta {
            margin-top: $small;
        }
    }

    @media screen and (min-width: 768px) and (max-width: 1023px) {
        .div_1 {
            grid-area: 3 / 3 / 4 / 15;
        }

        .div_2 {
            grid-area: 4 / 3 / 5 / 15;
        }

        .div_3 {
            grid-area: 5 / 3 / 6 / 15;
        }

        .div_4 {
            grid-area: 6 / 3 / 7 / 15;
        }

        .div_5 {
            grid-area: 7 / 3 / 8 / 15;
        }
    }

    @media screen and (max-width: 767px) {
        .div_1 {
            grid-area: 3 / 1 / 4 / 9;
        }

        .div_2 {
            grid-area: 4 / 1 / 5 / 9;
        }

        .div_3 {
            grid-area: 5 / 1 / 6 / 9;
        }

        .div_4 {
            grid-area: 6 / 1 / 7 / 9;
        }

        .div_5 {
            grid-area: 7 / 1 / 8 / 9;
        }
    }
}