@import '../../../globals.scss';

section {
    .heading {
        grid-area: 1 / 3 / 2 / 13;
        margin-top: calc($large * 2);
    }

    .subheading {
        grid-area: 2 / 4 / 3 / 13;
        margin-bottom: $large;
    }
}