@import '../../globals.scss';

#hero_section {
    height: 100dvh;

    .hero_canvas {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .heading {
        grid-area: 1 / 2 / 2 / 9;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        .paragraph {
            padding: $small 0;
        }
    }
}