@import '../../../globals.scss';

.homepage_loader {
    width: 100%;
    height: 100vh;
    background: #0E051E;

    h1 {
        font-size: calc($header_1 * 1.75);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}