/* ---------- Fonts ---------- */
@font-face {
    font-family: 'Contralto Big Bold';
    src: url(../public/fonts/ContraltoBig_Bold.woff);
}

@font-face {
    font-family: 'Proxima Nova Light';
    src: url(../public/fonts/Proxima_Nova_Light.otf);
}

$heading_font: 'Contralto Big Bold',
sans-serif;
$paragraph_font: 'Proxima Nova Light',
sans-serif;

/* ---------- Variables ---------- */
$indigo: #6526D1;
$blend: #9B26A1;
$magenta: #D02670;
$background: #07030F;
$dark_grey: #A3A3A3;
$light_grey: #D0D0D0;
$white: #FFFFFF;

$gradient: linear-gradient(90deg, $indigo, $magenta);
$gradient_grey: linear-gradient(90deg, #0E051E, #15082C);

// ---------- Fluid fonts ----------
$button: clamp(0.89rem, 0.33vw + 0.81rem, 1.11rem);
$paragraph: clamp(1.11rem, 0.69vw + 0.96rem, 1.57rem);
$header_4: clamp(1.39rem, 1.25vw + 1.11rem, 2.22rem);
$header_3: clamp(1.74rem, 2.11vw + 1.27rem, 3.14rem);
$header_2: clamp(2.17rem, 3.41vw + 1.41rem, 4.44rem);
$header_1: clamp(2.71rem, 5.35vw + 1.52rem, 6.28rem);

// ---------- Fluid space ----------
$small: clamp(1.13rem, calc(1.04rem + 0.41vw), 1.50rem);
$medium: clamp(1.69rem, calc(1.57rem + 0.61vw), 2.25rem);
$large: clamp(2.25rem, calc(2.09rem + 0.81vw), 3.00rem);

// ---------- Border radius ----------
$border_radius_large: calc($large * .3);
$border_radius_medium: calc($medium * .3);
$border_radius_small: calc($small * .3);

/* ---------- Defaults ---------- */
* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    list-style-type: none;
    user-select: none;
}

body {
    background: $background;
    color: $dark_grey;
    font-family: $paragraph_font;
    font-size: $paragraph;
    margin: auto;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
    font-family: $heading_font;
    color: $white;
    height: max-content;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: $header_1;
    text-transform: uppercase;
}

h2 {
    font-size: $header_2;
}

h3 {
    font-size: $header_3;
}

h4 {
    font-size: $header_4;
}

p {
    height: max-content;
    margin: 0;
    padding: 0;
}

button {
    font-family: $paragraph_font;
    font-size: $button;
    text-transform: uppercase;
    color: $white;
    background: $gradient;
    filter: contrast(1);
    border: none;
    border-radius: $border_radius_small;
    padding: calc($large * .5) $large;
    cursor: pointer;
    transition: .3s;

    &:hover {
        filter: contrast(1.5);
    }
}

.button {
    width: max-content;
    height: max-content;
}

section {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: $large;
    gap: $small;

    // border: 1px dashed cyan;
    // :nth-child(odd),
    // :nth-child(even) {
    //     border: 1px dashed cyan;
    // }

    @media screen and (min-width: 768px) and (max-width: 1023px) {
        grid-template-columns: repeat(8, 1fr);
        padding: $medium;
    }

    @media screen and (max-width: 767px) {
        grid-template-columns: repeat(4, 1fr);
        padding: $small;
    }
}

.container_large {
    padding: $large;
    border-radius: $border_radius_large;
    background: #0E051E;
}

.container_medium {
    padding: $medium;
    border-radius: $border_radius_medium;
    background: #0E051E;
}

.container_small {
    padding: $small;
    border-radius: $border_radius_small;
    background: #0E051E;
}