/* ---------- Fonts ---------- */
@font-face {
	font-family: 'Contralto Big Bold';
	src: url(../public/fonts/ContraltoBig_Bold.woff);
}

@font-face {
	font-family: 'Proxima Nova Light';
	src: url(../public/fonts/Proxima_Nova_Light.otf);
}

$heading_font: 'Contralto Big Bold', sans-serif;
$paragraph_font: 'Proxima Nova Light', sans-serif;

/* ---------- Variables ---------- */
$indigo: #6526d1;
$blend: #9b26a1;
$magenta: #d02670;
$background: #07030f;
$background_lighter: #0e051e;
$dark_grey: #a3a3a3;
$light_grey: #d0d0d0;
$off_white: #f4effc;
$white: #ffffff;

$gradient: linear-gradient(90deg, $indigo, $magenta);
$gradient_paragraph: linear-gradient($indigo 0%, $magenta 100%);
$gradient_grey: linear-gradient(90deg, #0e051e90, #07030f10);

// ---------- Fluid fonts ----------
$button: clamp(0.8rem, 0.16vw + 0.76rem, 0.95rem);
$paragraph: clamp(1rem, 0.4vw + 0.9rem, 1.38rem);
$header_4: clamp(1.25rem, 0.79vw + 1.05rem, 1.99rem);
$header_3: clamp(1.56rem, 1.42vw + 1.21rem, 2.89rem);
$header_2: clamp(1.95rem, 2.39vw + 1.36rem, 4.19rem);
$header_1: clamp(2.44rem, 3.88vw + 1.47rem, 6.08rem);

// ---------- Fluid space ----------
$small: clamp(1.13rem, calc(1.04rem + 0.41vw), 1.5rem);
$medium: clamp(1.69rem, calc(1.57rem + 0.61vw), 2.25rem);
$large: clamp(2.25rem, calc(2.09rem + 0.81vw), 3rem);

// ---------- Border radius ----------
$border_radius_large: calc($large * 0.1);
$border_radius_medium: calc($medium * 0.1);
$border_radius_small: calc($small * 0.1);

/* ---------- Defaults ---------- */
* {
	box-sizing: border-box;
}

html {
	margin: 0;
	padding: 0;
	list-style-type: none;
	user-select: none;
	scroll-behavior: smooth;
}

body {
	background: $background;
	color: $dark_grey;
	font-family: $paragraph_font;
	font-size: $paragraph;
	line-height: 1.2;
	margin: auto;
}

// Scrollbar
*::-webkit-scrollbar {
	background-color: $background_lighter;
	width: 0.8rem;

	&-track {
		background-color: transparent;
	}

	&-thumb {
		border-radius: 1rem;
		border: 0.1rem solid transparent;
		background-color: $indigo;
		background-clip: content-box;

		&:hover {
			background-color: $blend;
		}
	}
}

// Text
h1,
h2,
h3,
h4 {
	font-family: $heading_font;
	line-height: 1.1;
	color: $off_white;
	height: max-content;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: $header_1;
	text-transform: uppercase;
	line-height: 0.8;
}

h2 {
	font-size: $header_2;
}

h3 {
	font-size: $header_3;
}

h4 {
	font-size: $header_4;
}

p {
	font-size: $paragraph;
	line-height: 1.2;
	height: max-content;
	margin: 0;
	padding: 0;
}

.lined_paragraph {
	background: linear-gradient(180deg, $indigo 0%, $magenta 100%);
	background-size: 2px;
	background-repeat: no-repeat;
	padding-left: calc($small * 0.5);
}

a {
	font-size: $button;
	text-decoration: none;
	color: $dark_grey;
	transition: all 0.5s ease-in-out;

	&:hover {
		color: $white;
	}
}

.link {
	color: $light_grey;
	font-size: $paragraph;
	text-decoration: underline $magenta 2px;
	width: max-content;
	transition: all 0.5s ease-in-out;

	&:hover {
		color: $white;
		text-decoration: underline $indigo 2px;
	}
}

button {
	font-family: $paragraph_font;
	font-size: $button;
	text-transform: uppercase;
	color: $white;
	background: $gradient;
	filter: contrast(1);
	border: none;
	border-radius: $border_radius_small;
	padding: calc($small * 0.5) $small;
	cursor: pointer;
	transition: all 0.5s ease-in-out;

	&:hover {
		filter: contrast(1.5);
	}
}

.button {
	width: max-content;
	height: max-content;
}

.uppercase {
	text-transform: uppercase;
}

.indigo {
	color: $indigo;
}

.magenta {
	color: $magenta;
}

.blend {
	color: $blend;
}

.light_grey {
	color: $light_grey;
	transition: all 0.5s ease-in-out;

	&:hover {
		color: $white;
	}
}

.overlay {
	background: $gradient_grey;
	min-height: 300px;
	padding: $large;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: $large;
	backdrop-filter: blur(5px);
	border: 1px solid #6526d125;
	border-radius: $border_radius_large;
	transition: all 0.5s ease-in-out;

	&:hover {
		border: 1px solid $indigo;
	}

	.text {
		display: flex;
		flex-direction: column;
		align-self: flex-end;
		gap: $small;
	}

	img {
		width: 140px;
		height: auto;
		display: flex;
		align-self: flex-start;
	}

	@media screen and (min-width: 768px) and (max-width: 1023px) {
		flex-direction: column-reverse;
		text-align: center;

		img {
			width: 120px;
			margin: auto;
		}
	}

	@media screen and (max-width: 767px) {
		flex-direction: column-reverse;
		text-align: center;

		img {
			width: 100px;
			margin: auto;
		}
	}
}

.div {
	img {
		width: 140px;
		height: auto;
	}

	@media screen and (min-width: 768px) and (max-width: 1023px) {
		img {
			width: 120px;
			margin: auto;
		}
	}

	@media screen and (max-width: 767px) {
		img {
			width: 100px;
			margin: auto;
		}
	}
}
