/* ------------------------- Defaults ------------------------- */
* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body {
    background: black;
    margin: auto;
    overflow: hidden;
}

.canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}