@import '../../globals.scss';

.loading {
    overflow: hidden;

    .loader {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
            color: $white;
            opacity: 1;
        }
    }
}