@import '../../../globals.scss';

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;

    nav {
        grid-area: 1 / 1 / 2 / 25;
        padding: 0 $large;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .menu {
            height: 24px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;
            cursor: pointer;

            .line {
                height: 4px;
                width: calc($small * 1.75);
                border-radius: 3px;
                transition: transform .5s ease, margin .5s ease;
            }

            .top {
                background: $indigo;
            }

            .middle {
                background: $blend;
            }

            .bottom {
                background: $magenta;
            }

            &.open {
                .top {
                    transform: rotate(45deg) translateX(7px) translateY(7px);
                }

                .middle {
                    transform: scaleX(0);
                }

                .bottom {
                    transform: rotate(-45deg) translateX(7px) translateY(-7px);
                }
            }
        }

        .menu_container {
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100vw;
            background: linear-gradient(90deg, #07030F90, #0E051E90);
            backdrop-filter: grayscale(1) blur(5px);
            z-index: -1;
            opacity: 0;
            visibility: hidden;
            transition: opacity .75s ease-in-out, visibility .75s ease-in-out;

            .menu_links {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100vh;

                h1 {
                    color: $light_grey;
                    width: max-content;
                    line-height: 1;
                    transition: all 0.5s ease-in-out;

                    &:hover {
                        color: $white;
                        transform: translateX(calc($small * .5));
                    }
                }

                button {
                    margin-top: $small;
                }
            }
        }

        .menu.open~.menu_container {
            opacity: 1;
            visibility: visible;
        }
    }

    @media screen and (min-width: 768px) and (max-width: 1023px) {}

    @media screen and (max-width: 767px) {
        #navbar {
            .logo {
                grid-area: 1 / 1 / 2 / 2;
                display: flex;
                justify-content: flex-start;
            }
        }
    }
}