@import '../../../globals.scss';

.hero_section {
    width: 100%;
    height: 100vh;

    canvas {
        width: 100%;
        height: 100vh;
        z-index: -1;
    }

    #hero_section {
        position: absolute;
        bottom: 0;
        width: 100%;

        .heading,
        .subheading {
            margin: 0;
        }

        .heading_1 {
            grid-area: 1 / 3 / 2 / 15;
            font-size: calc($header_1 * 1.4);
            text-align: left;
            display: flex;
            align-self: flex-end;
        }

        .heading_2 {
            grid-area: 2 / 5 / 3 / 15;
            text-align: right;
            display: flex;
            align-self: flex-start;
        }

        .paragraph {
            grid-area: 2 / 15 / 4 / 20;
            text-align: left;
            display: flex;
            align-self: flex-end;
            background: linear-gradient(180deg, $indigo 0%, $magenta 100%);
            background-size: 2px;
            background-repeat: no-repeat;
            padding-left: calc($small * .5);
        }

        .arrow {
            grid-area: 4 / 24 / 5 / 25;
        }

        @media screen and (min-width: 768px) and (max-width: 1023px) {
            .heading_1 {
                grid-area: 1 / 2 / 2 / 11;
                font-size: calc($header_1 * 1.3);
            }

            .heading_2 {
                grid-area: 2 / 3 / 3 / 13;
            }
            
            .paragraph {
                grid-area: 3 / 9 / 4 / 16;
            }

            .arrow {
                grid-area: 4 / 16 / 5 / 17;
            }
        }

        @media screen and (max-width: 767px) {
            .heading_1 {
                grid-area: 1 / 1 / 2 / 7;
                font-size: calc($header_1 * 1.2);
            }

            .heading_2 {
                grid-area: 2 / 1 / 3 / 7;
            }

            .paragraph {
                grid-area: 3 / 3 / 4 / 8;
            }

            .arrow {
                grid-area: 4 / 8 / 5 / 9;
            }
        }
    }
}