@import '../../../globals.scss';

#recent_work {
    div {
        display: flex;
        flex-direction: column;
        gap: calc($small * .5);

        .project_canvas {
            filter: grayscale(80%);
            transition: all 0.5s ease-in-out;

            &:hover {
                filter: grayscale(0%);
            }
        }

        .detailed_description {
            text-align: left;
            display: flex;
            align-self: flex-end;
            background: linear-gradient(180deg, $indigo 0%, $magenta 100%);
            background-size: 2px;
            background-repeat: no-repeat;
            padding-left: calc($small * .5);
        }
    }

    .project_links {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: $small;
    }

    .technologies {
        color: $white;
        font-size: $button;
        padding: calc($small * .25) 0;
    }

    div .heading {
        margin: 0;
    }

    .div_1 {
        grid-area: 3 / 5 / 4 / 13;
    }

    .div_2 {
        grid-area: 3 / 14 / 4 / 22;
    }

    .div_3 {
        grid-area: 5 / 8 / 6 / 18;
        gap: $small;
        padding-top: $large;
        text-align: center;

        .cta {
            margin: auto;
        }
    }

    @media screen and (min-width: 768px) and (max-width: 1023px) {}

    @media screen and (max-width: 767px) {}
}