@import '../../../globals.scss';

#services_section {
    .div_1 {
        grid-area: 3 / 5 / 4 / 14;
    }

    .div_2 {
        grid-area: 3 / 14 / 4 / 23;
    }

    .div_3 {
        grid-area: 4 / 5 / 5 / 14;
    }

    .div_4 {
        grid-area: 4 / 14 / 5 / 23;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: $small;
        text-align: center;

        .cta {
            margin: 0 auto;
        }
    }

    @media screen and (min-width: 768px) and (max-width: 1023px) {
        .div_1 {
            grid-area: 3 / 2 / 4 / 9;
        }

        .div_2 {
            grid-area: 3 / 9 / 4 / 16;
        }

        .div_3 {
            grid-area: 4 / 2 / 5 / 9;
        }

        .div_4 {
            grid-area: 4 / 9 / 5 / 16; 
        }
    }

    @media screen and (max-width: 767px) {
        .div_1 {
            grid-area: 3 / 1 / 4 / 9;
        }

        .div_2 {
            grid-area: 4 / 1 / 5 / 9;
        }

        .div_3 {
            grid-area: 5 / 1 / 6 / 9;
        }

        .div_4 {
            grid-area: 6 / 1 / 7 / 9;
            margin-top: calc($small * 2);
        }
    }
}