@import '../../../globals.scss';

#services_section {
    .div_1 {
        grid-area: 3 / 5 / 4 / 13;
    }

    .div_2 {
        grid-area: 3 / 13 / 4 / 21;
    }

    .div_3 {
        grid-area: 4 / 5 / 5 / 13;
    }

    .div_4 {
        grid-area: 4 / 13 / 5 / 21;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: $small;
        text-align: center;

        .cta {
            margin: 0 auto;
        }
    }

    @media screen and (min-width: 768px) and (max-width: 1023px) {

    }

    @media screen and (max-width: 767px) {

    }
}