@import '../../../globals.scss';

.animation_container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    // background: $background_lighter;
    background: $magenta;
    z-index: 100;
}