@import '../../../globals.scss';

.strip {
    background: linear-gradient(180deg, $white 0%, $background 100%);
    position: fixed;
    top: 0;
    width: 1px;
    height: 100vh;
    opacity: 0.35;
    z-index: -1;
}

.strip_one {
    left: 7.8125%;
}

.strip_two {
    left: 28.906%;
}

.strip_three {
    left: 50%;
}

.strip_four {
    right: 28.906%;
}

.strip_five {
    right: 7.8125%;
}